MySQL+Node-RED-UPTMKL_jan2023.json
[
    {
        "id": "6e268a4061bc81b8",
        "type": "tab",
        "label": "Flow 9",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1a729973ab1289cd",
        "type": "function",
        "z": "6e268a4061bc81b8",
        "name": "",
        "func": "msg.topic = \"SELECT * FROM temp_humid ORDER BY info_id DESC LIMIT 1\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 220,
        "wires": [
            [
                "275d1ba7d2871bfa"
            ]
        ]
    },
    {
        "id": "275d1ba7d2871bfa",
        "type": "mysql",
        "z": "6e268a4061bc81b8",
        "mydb": "0f109ab02cdf9746",
        "name": "",
        "x": 970,
        "y": 300,
        "wires": [
            [
                "cfdc207763a2f375",
                "e6e8f9d5b2105876",
                "151aa170c36d66af",
                "0675678962d25c0f"
            ]
        ]
    },
    {
        "id": "cfdc207763a2f375",
        "type": "debug",
        "z": "6e268a4061bc81b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "f6d47891c73e150a",
        "type": "inject",
        "z": "6e268a4061bc81b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 970,
        "y": 160,
        "wires": [
            [
                "1a729973ab1289cd"
            ]
        ]
    },
    {
        "id": "e6e8f9d5b2105876",
        "type": "ui_text",
        "z": "6e268a4061bc81b8",
        "group": "4b7d32936770692e",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Log ",
        "format": "{{msg.payload[0].data1}}",
        "layout": "row-spread",
        "x": 1190,
        "y": 260,
        "wires": []
    },
    {
        "id": "0675678962d25c0f",
        "type": "ui_gauge",
        "z": "6e268a4061bc81b8",
        "name": "",
        "group": "4b7d32936770692e",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temparature",
        "label": "Celcius",
        "format": "{{msg.payload[0].temperature}}",
        "min": "15",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1210,
        "y": 300,
        "wires": []
    },
    {
        "id": "151aa170c36d66af",
        "type": "ui_gauge",
        "z": "6e268a4061bc81b8",
        "name": "",
        "group": "4b7d32936770692e",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity ",
        "label": "%",
        "format": "{{msg.payload[0].humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1200,
        "y": 340,
        "wires": []
    },
    {
        "id": "0f109ab02cdf9746",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "uptm_IoTlab_2023",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "4b7d32936770692e",
        "type": "ui_group",
        "name": "IoT Lab",
        "tab": "8276a30a07e01e38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8276a30a07e01e38",
        "type": "ui_tab",
        "name": "Level 2",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]