sketch_jan17d_mqtt.json
[
    {
        "id": "dbe084a9d0442de3",
        "type": "tab",
        "label": "Aedes 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c8c016db357af4d5",
        "type": "aedes broker",
        "z": "dbe084a9d0442de3",
        "name": "",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 590,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "f498afe46034032d",
        "type": "mqtt out",
        "z": "dbe084a9d0442de3",
        "name": "",
        "topic": "server",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eeb4d7350013cf12",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "52f7eea767fea734",
        "type": "debug",
        "z": "dbe084a9d0442de3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "44f6f030ee73b7f7",
        "type": "mqtt in",
        "z": "dbe084a9d0442de3",
        "name": "",
        "topic": "stationA/celc",
        "qos": "2",
        "datatype": "auto",
        "broker": "eeb4d7350013cf12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 500,
        "y": 380,
        "wires": [
            [
                "52f7eea767fea734",
                "8370993b19690416"
            ]
        ]
    },
    {
        "id": "37d62342c8310072",
        "type": "inject",
        "z": "dbe084a9d0442de3",
        "name": "On",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 350,
        "y": 200,
        "wires": [
            [
                "f498afe46034032d"
            ]
        ]
    },
    {
        "id": "baf760eb61d70c6e",
        "type": "inject",
        "z": "dbe084a9d0442de3",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "f498afe46034032d"
            ]
        ]
    },
    {
        "id": "8370993b19690416",
        "type": "ui_gauge",
        "z": "dbe084a9d0442de3",
        "name": "",
        "group": "7cc2bbac207691b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 째C",
        "label": "째C",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 720,
        "y": 460,
        "wires": []
    },
    {
        "id": "4988077e4da9a3c1",
        "type": "debug",
        "z": "dbe084a9d0442de3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 480,
        "wires": []
    },
    {
        "id": "d44ddec48fed082e",
        "type": "mqtt in",
        "z": "dbe084a9d0442de3",
        "name": "",
        "topic": "stationA/fah",
        "qos": "2",
        "datatype": "auto",
        "broker": "eeb4d7350013cf12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "4988077e4da9a3c1",
                "5fb3a114ef643576"
            ]
        ]
    },
    {
        "id": "5fb3a114ef643576",
        "type": "ui_gauge",
        "z": "dbe084a9d0442de3",
        "name": "",
        "group": "7cc2bbac207691b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature 째F",
        "label": "째F",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 440,
        "y": 540,
        "wires": []
    },
    {
        "id": "37953fee06d8c958",
        "type": "ui_gauge",
        "z": "dbe084a9d0442de3",
        "name": "",
        "group": "7cc2bbac207691b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity %",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 710,
        "y": 660,
        "wires": []
    },
    {
        "id": "e0af561c7a08526a",
        "type": "mqtt in",
        "z": "dbe084a9d0442de3",
        "name": "",
        "topic": "stationA/humid",
        "qos": "2",
        "datatype": "auto",
        "broker": "eeb4d7350013cf12",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 540,
        "y": 620,
        "wires": [
            [
                "72175e94b35059b2",
                "37953fee06d8c958"
            ]
        ]
    },
    {
        "id": "72175e94b35059b2",
        "type": "debug",
        "z": "dbe084a9d0442de3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 600,
        "wires": []
    },
    {
        "id": "eeb4d7350013cf12",
        "type": "mqtt-broker",
        "name": "",
        "broker": "172.20.10.2",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7cc2bbac207691b5",
        "type": "ui_group",
        "name": "IoT Lab",
        "tab": "06e522b17b6e5667",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "06e522b17b6e5667",
        "type": "ui_tab",
        "name": "Level 2",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
